{# Extends the original template, instead of overwriting the entire file #}
{% ckan_extends %}

{# Overrides the page header, to remove the navigation tabs, but preserve the content actions #}
{% block page_header %}
  {% if self.content_action() | trim %}
    <header class="module-content page-header">
      <div class="content_action">
        {% block content_action %}{% endblock %}
      </div>
    </header>
  {% endif %}
{% endblock %}

{# Disabled the secondary block on the left of the page, when viewing each dataset #}
{% block secondary %}{% endblock %}

{# Overrides the primary block of the page #}
{% block primary %}

  {# Changed the div to always use all 12 columns and added class fill-width #}
  <div class="primary col-xs-12">
    {% block primary_content %}
      {{ super() }}
    {% endblock %}
  </div>
{% endblock %}