{# Extends the original template, instead of overwriting the entire file #}
{% ckan_extends %}

{# Overrides the toolbar to add some info below the breadcrumbs #}
{% block toolbar %}
  {{ super() }}

  {% snippet 'package/snippets/toll_data_info.html' %}
{% endblock %}

{# Overrides the breadcrumb_content to change the text of the Dataset-link. #}
{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link('Tolletatens åpne data', controller='package', action='search', named_route='search') }}</li>
{% endblock %}

{# Overrides the form to edit the search field placeholder #}
{% block form %}
  {# Unchanged #}
  {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field } %}

  {# Unchanged #}
  {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ] %}

  {# Changed the placeholder to not include the ... #}
  {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search ' + dataset_type + 's'), facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
{% endblock %}