<div id="cookies-message-container">
  <div id="cookies-message-content">
    <p id="cookies-message-title">Informasjonskapsler (Cookies)</p>
    <p id="cookies-message-text">
      Tolletaten bruker informasjonskapsler som er viktige for at tjenesten skal fungere.
      Vi bruker også informasjonskapsler for å forbedre de digitale tjenestene våre.
      All data som lagres er anonymisert. Ved å bruke denne tjenesten godtar du bruk av informasjonskapsler.
    </p>
    <a target="_blank"
       rel="noopener noreferrer"
       href="https://www.toll.no/no/om-tolletaten/personvern/personvern-pa-tollno/">
      <span>Les mer om personvern og vår bruk av informasjonskapsler</span>
    </a>
    <br />
    <button onclick="setCookiesAccepted()">GODKJENN COOKIES</button>
  </div>
</div>