{# Supplies the info about Tolletaten's data below the breadcrumbs. #}
<div class="toll-data-info">
  <p>
    Tolletaten gir næringsliv, forskere og sivilsamfunn tilgang til data på en slik måte at de lett kan brukes i nye
    sammenhenger både av mennesker og maskiner.
  </p>
  <p>
    Tolletaten skal bli navngitt som kilde. Grunnen til det er at vi er svært opptatt av å få tilbakemeldinger om det
    foreligger feil i datagrunnlaget. Alle våre data er derfor lisensiert med CC BY 4.0 eller NLOD
    (norsk lisens for offentlig data).
  </p>
  <p><b>
    Tolletaten utfører i juni en spørreundersøkelse for å forbedre våre åpne data.
    Undersøkelsen tar omtrent 5 minutter og er anonym. Ditt bidrag er viktig for at Tolletaten og Åpne Data skal kunne 
    bli så bra som mulig.
    <a href="https://forms.office.com/r/44Ni24XfQ1" target="_blank">Klikk her for å komme til spørreundersøkelsen.</a>
  </b></p>
</div>
