{# Supplies the info about Tolletaten's data below the breadcrumbs. #}
<div class="toll-data-info">
  <p>
    Tolletaten gir næringsliv, forskere og sivilsamfunn tilgang til data på en slik måte at de lett kan brukes i nye
    sammenhenger både av mennesker og maskiner.
  </p>
  <p>
    Tolletaten skal bli navngitt som kilde. Grunnen til det er at vi er svært opptatt av å få tilbakemeldinger om det
    foreligger feil i datagrunnlaget. Alle våre data er derfor lisensiert med CC BY 4.0 eller NLOD
    (norsk lisens for offentlig data).
  </p>
</div>
