body {
  background: #FFF;
}

.wrapper {
  border-radius: .125rem;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

[role=main], .main {
  background: rgba(0, 0, 0, 0.05);
}

.hero {
  background: rgba(0, 0, 0, 0.05);
}

.main-header {
  background: #FFF;
  padding: 1em 0;
  border-bottom: 2px solid lightgray;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-container:before, .header-container:after {
  content: none
}

.account-masthead .account ul li a,
.account-masthead .account ul li a:hover {
  color: #000;
  background-color: #FFF;
}

.account-masthead .account ul li {
  border-left: 0;
}

.account-masthead .account .notifications a span.badge {
  color: #000;
  background-color: #FFF;
}

.masthead .nav > li > a, .masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
  color: #000;
  text-shadow: none;
}

img.gravatar {
  display: none;
}

.site-footer {
  background: #FFF;
}

.homepage .module-search .module-content {
  background: #FFF;
  color: #000;
}

.homepage .module-search .tags {
  background: #FFF;
  color: #000;
}

.box {
  border: .125rem solid rgba(55, 65, 73, .25);
  border-radius: .125rem;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.tag-list {
  padding: 10px 40px 5px 40px;
}

.tag-list.well {
  background-color: var(--color-bg-toll-teal);
}

.tag {
  background-color: var(--color-toll-teal);
  color: white;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  padding: 5px 15px;
  font-weight: bold;
  font-size: small;
}

a.tag:hover {
  background-color: #164959;
  border: 1px solid #0f323c;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
  background-color: inherit;
  text-decoration: underline;
}

.form-control {
  border-radius: 0;
}

.site-footer, .site-footer a, .site-footer label, .site-footer small {
  color: #000;
}

.toll_link > * {
  color: #007682 !important;
}

#field-order-by {
  border-radius: 5px;
  box-shadow: 0;
}

.item-count {
  background-color: var(--color-toll-teal);
  border-radius: 6px;
  margin-left: 10px;
}

footer {
  background-color: var(--color-bg-toll-teal);
  padding: 3em;
}

.footer-links {
  display: grid;
  justify-content: center;
  grid-column-gap: 10%;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 3em;
}

.toll-footer {
  display: flex;
  justify-content: center;
}

.toll-data-info {
  margin-bottom: 20px;
}

.facet-icon {
  vertical-align: middle;
}

.facet-title {
  vertical-align: middle;
  margin-left: 10px;
}

.module .read-more {
  color: #007682 !important;
  text-transform: uppercase;
  font-size: small;
}

.search-form {
  border-bottom: 2px solid #dddddd;
}

.dataset-item {
  border-bottom: 2px solid #dddddd;
}

.dataset-heading-link-wrapper {
  display: inline-block;
  float: right;
}

.dataset-heading-link-wrapper a {
  color: #007682 !important;
  font-size: small;
  padding: 6px;
  border-radius: 3px;
}

.dataset-heading-link-wrapper a:hover {
  background-color: #e6f1f3;
  text-decoration: none;
}

.dataset-heading-link-wrapper:hover ~ .dataset-heading-title {
  text-decoration: underline;
}

.nav-item.active > a,
.nav-aside li.active a {
  position: relative;
  color: black;
  background-color: lightgray;
}

.nav-item.active > a:hover,
.nav-aside li.active a:hover {
  color: black;
  background-color: lightgray;
}

@media (min-width: 768px) {
  .nav-item.active > a:before,
  .nav-aside li.active a:before {
    border-left-color: lightgray;
  }
}

.nav-facet .nav-item.active > a:after {
  display: inline-block;
  vertical-align: text-bottom;
  background-image: url("icons/cancel-icon.svg");
  background-repeat: no-repeat;
}

.nav-facet .nav-item.active > a:after {
  background-position: unset;
  right: 6px;
}

.pill {
  background-color: var(--color-toll-teal);
  font-weight: bold;
  font-size: small;
  padding: 5px 20px;
}

.toolbar {
  margin-bottom: 0;
}

.additional-info .dataset-label {
  font-weight: normal;
}

.additional-info .dataset-details {
  font-weight: bold;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 2px;
}

.breadcrumb .active a {
  color: black;
}

.breadcrumb :not(.active) a {
  color: #007682 !important;
}

.resource-item {
  padding: 10px 10px 10px 56px;
  border-bottom: 1px solid #dddddd;
}

.resource-item .format-label {
  top: unset;
  left: -30px;
}

@media (min-width: 992px) {
  .resource-item-actions {
    text-align: right;
  }
}

.resource-item-action {
  display: inline-block;
  padding-right: 40px;
  text-transform: uppercase;
}

.resource-item-action span {
  vertical-align: middle;
}

.resource-item-action a:hover {
  text-decoration: none;
}