{# Extends the original template, instead of overwriting the entire file #}
{% ckan_extends %}

{# Overwritten to style the additional info table differently. #}
{% block resource_additional_information_inner %}
  {% if res.datastore_active %}
    {% block resource_data_dictionary %}
      {{ super() }}
    {% endblock %}
  {% endif %}

  <div class="module-content">
    <h2>{{ _('Additional Information') }}</h2>
    <table class="table-borderless table-condensed" data-module="table-toggle-more">
      <tbody>
      {%- block resource_last_updated -%}
        <tr>
          <th scope="row" class="dataset-resource-label">{{ _('Last updated') }}</th>
          <td class="dataset-resource-details">{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
      {%- endblock -%}
      {%- block resource_created -%}
        <tr>
          <th scope="row" class="dataset-resource-label">{{ _('Created') }}</th>
          <td class="dataset-resource-details">{{ h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
      {%- endblock -%}
      {%- block resource_format -%}
        <tr>
          <th scope="row" class="dataset-resource-label">{{ _('Format') }}</th>
          <td class="dataset-resource-details">{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
        </tr>
      {%- endblock -%}
      {%- block resource_license_row -%}
        <tr>
          <th scope="row" class="dataset-resource-label">{{ _('License') }}</th>
          <td class="dataset-resource-details">{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
        </tr>
      {%- endblock -%}

      {%- block resource_fields -%}
        {%- for field in schema.resource_fields -%}
          {%- if field.field_name not in exclude_fields
                and field.display_snippet is not none -%}
            <tr>
              <th scope="row" class="dataset-resource-label">
                {{- h.scheming_language_text(field.label) -}}
              </th>
              <td class="dataset-resource-details">
                {%- snippet 'scheming/snippets/display_field.html',
                      field=field, data=res, entity_type='dataset',
                      object_type=dataset_type -%}
              </td>
            </tr>
          {%- endif -%}
        {%- endfor -%}
      {%- endblock -%}
      {# Readded the toggle-more elements #}
      {% for key, value in h.format_resource_items(res.items()) %}
        <tr class="toggle-more">
          <th scope="row" class="dataset-resource-label">{{ key }}</th>
          <td class="dataset-resource-details">{{ value }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}

{# Overwritten to removes license information under the list of resources, by providing an empty block. #}
{% block resource_license %}{% endblock %}