<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url={{ app_globals.site_url }}/dataset">
        <script type="text/javascript">
            window.location.href = "{{ app_globals.site_url }}/dataset"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        If you are not redirected automatically, follow this <a href='{{ app_globals.site_url }}/dataset'>{{ app_globals.site_url }}/dataset</a>.
    </body>
</html>