<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url={{ g.site_url | safe }}/dataset">
        <script type="text/javascript">
            window.location.href = "{{ g.site_url | safe }}/dataset"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        If you are not redirected automatically, follow this <a href='{{ g.site_url | safe }}/dataset'>{{ g.site_url | safe }}/dataset</a>.
    </body>
</html>