<footer>
  {% block footer %}
    <div class="footer-links">
      <a href="https://www.toll.no/no/om-tolletaten/om-oss/">Om Tolletaten</a>
      <a href="https://www.toll.no/no/om-tolletaten/personvern/personvern-pa-tollno/">Personvern</a>
      <a href="https://docs.ckan.org/en/2.8/api/">CKAN API</a>
      <a href="https://ckan.org/">CKAN Association</a>
    </div>
    <div class="toll-footer">
      <p>
        <a href="https://www.toll.no">Tolletaten</a>
        <span> | Besokadresse: Tollbugata 1, 0152 Oslo | Postadresse: Postboks 2103 Vika, 0125 OSLO | Org.nr. 974761343 | </span>
        <a href="https://www.toll.no/no/om-tolletaten/kontakt-oss/">Kontakt Tolletaten</a>
      </p>
    </div>
  {% endblock %}

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
