{# Extends the original template, instead of overwriting the entire file #}
{% ckan_extends %}

{# Overriden to remove navigation links, search and create user. A few elements rearranged. #}
{% block header_wrapper %}
  {% block header_account %}
    <header class="main-header"> {# Class changed #}
      <div class="container header-container"> {# Class changed #}

        {# Moved and changed #}
        <hgroup class="{{ g.header_class }} navbar-left">
          {% block header_logo %}
            {% set logo_url = g.site_logo if g.site_logo else '/tolletaten-logo.svg' %}
            <a class="logo" href="{{ h.url_for('home.index') }}">
              <img src="{{ h.tolltheme_url_with_version_token(h.url_for_static_or_external(logo_url)) }}"
                   alt="{{ g.site_title }}" title="{{ g.site_title }}" />
            </a>
          {% endblock %}
        </hgroup>

        {# Moved, but unchanged #}
        {% block header_account_container_content %}
          {{ super() }}
        {% endblock %}
      </div>
    </header>
  {% endblock %}

  {# Overriden to customize the HTML elements #}
  {% block header_debug %}
    {% if g.debug and not g.debug_supress_header %}
      <header class="box">
        <div class="debug">Debug info:<br>Controller : {{ c.controller }}<br />Action : {{ c.action }}</div>
      </header>
    {% endif %}
  {% endblock %}

{% endblock %}

{# Overriden to customize the "Log in"-link's class #}
{% block header_account_notlogged %}
  <li class="toll_link">{% link_for _('Log in'), named_route='user.login' %}</li>
{% endblock %}
